:root {
  --primary-color: #fffaee;
  --secondary-color: #001f3f;
  --highlight-color: #ff851b;
}

body {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-family: monospace;
  font-size: 18px;
  line-height: 1.6;
  max-width: 600px;
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  line-height: 1.1;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  border-bottom: 3px solid var(--highlight-color);
  padding-bottom: 3px;
  font-weight: bold;
}

hr {
  border: 1px solid var(--highlight-color);
}
