@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

:root {
  --primary-color: #fffaee;
  --secondary-color: #001f3f;
  --highlight-color: #ff851b;
}

body {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-family: "Special Elite", monospace;
  font-size: 20px;
  line-height: 1.6;
  max-width: 700px;
  padding: 40px 20px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  line-height: 1.1;
}

a {
  background-color: var(--highlight-color);
  border-radius: 8px;
  color: var(--secondary-color);
  padding: 4px 6px;
  text-decoration: none;
}

hr {
  border: 1px solid var(--highlight-color);
}
