@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

:root {
  --primary-color: #111;
  --secondary-color: #fff;
  --highlight-color: #ddd;
}

body {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-family: sans-serif, "Special Elite", monospace;
  line-height: 1.8;
  max-width: 600px;
  padding: 40px 20px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  line-height: 1.1;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: 3px solid var(--highlight-color);
}

hr {
  border: 2px dashed var(--highlight-color);
}
